<!-- <form action="https://getform.io/f/8814e597-ddc0-43db-88bf-de8317e6f63a" method="POST">
    <input type="text" name="name">
    <input type="email" name="email">
    <input type="text" name="message">
    add hidden Honeypot input to prevent spams
    <input type="hidden" name="_gotcha" style="display:none !important">
    checkbox handle
    <input type="checkbox" name="subscribe" value="yes" checked>
    <input type="hidden" name="subscribe" value="no">
    radio button handle
    <input type="radio" name="gender" value="male" checked>
    <input type="radio" name="gender" value="female">
    <input type="radio" name="gender" value="other">
    select field handle
    <select name="work-experience">
        <option value="one-year">0-1 years</option>
        <option value="one-five-years">1-5 years</option>
    </select>
    <button type="submit">Send</button>
</form> -->

<form accept-charset="UTF-8" action="https://getform.io/f/f61ac994-74e4-4833-bb56-ee2279302570" method="POST" enctype="multipart/form-data" target="_blank">
    <div class="form-group">
        <label for="InputEmail1" required="required"> Email address</label>
        <input type="email" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <br>
    <div class="form-group">
        <label for="InputName" required="required"> Name</label>
        <input type="text" name="name" class="form-control" id="InputName" placeholder="Enter your name" required="required">
    </div>
    <br>
    <div class="form-group">
        <label for="TeamName" required="required"> Team Name</label>
        <input type="text" name="team" class="form-control" id="TeamName" placeholder="Enter your team name" required="required">
    </div>
    <br>
    <div class="form-group">
        <label for="UniName" required="required"> Organization/University</label>
        <input type="text" name="uni" class="form-control" id="UniName" placeholder="Enter your Organization/University" required="required">
    </div>
    <br>
    <div class="form-group">
        <label for="Country" required="required"> Country of work</label>
        <input type="text" name="country" class="form-control" id="Country" placeholder="Enter your Country of work" required="required">
    </div>
    <br>
    <hr>
    <div class="form-group">
        <label for="TermsAndCond" required="required"> I understand my email address will be used for communication purposes by the organizing committee.</a></label>
        <input type="checkbox" name="termsandcond" id="TermsAndCond" required="required">
    </div>
    <hr>
    <div class="form-group">
        <label for="dataagr" required="required"> I understand that I will only use the datasets for this challenge and will not share it or use it for other purposes.</a></label>
        <input type="checkbox" name="data" id="dataagr" required="required">
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="_gotcha" style="display:none !important">
  </form>